{{#partial "title"}}List Links{{/partial}}

{{#partial "content"}}

<script>
  function search() {
    var url = document.getElementById('searchUrl').value;
    window.location = url;
    return false;
  }
</script>

<div class="container">
  <div class="top">
    <h1>listlinks</h1>
  </div>
  <div class="front">
    <form class="search" onsubmit="return search();">
      <input id="searchUrl" type="text" placeholder="Type a URL here">
      <button type="submit">Go!</button>
    </form>
    <div class="description">
      <p>Just type in a URL above to get a <b>list</b> of the <b>links</b> on that page.</p>
      <p>You’ll see the most popular links at the top, plus you can sort or search the links.</p>
      <p>Once you’re in the right place, just tap the arrow at the bottom to view your current page as you would normally.</p>
      <p>Faster, smarter, <b><em>listlinks</em></b>.</p>
    </div>
  </div>
  <div class="shadow"></div>
</div>

{{/partial}}

{{> base}}
