{{#partial "title"}}{{uri}}{{/partial}}

<style type="text/css">

  html, body {
    margin: 0;
    overflow-x: hidden;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  }

  body {
    background: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
  }

  .wrapper {
    padding-bottom: 40px;
  }

  ul {
    padding: 0;
    margin: 0;
  }

  li {
    height: 80px;
    list-style: none;
    margin: 0;
    padding: 0;
    background: #F2F2F2;
    background: -webkit-linear-gradient(top, #E9E9E9 0%, #F2F2F2 10%, #F2F2F2 90%, #E9E9E9 100%);
    -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.1);
    -moz-box-shadow: inset 0 0 1px rgba(0,0,0,0.1);
    box-shadow: inset 0 0 1px rgba(0,0,0,0.1);
    border-bottom: 1px solid #CCCCCC;
    background-position: center center;
    background-repeat: no-repeat;
  }

  li a {
    display: block;
    height: 80px;
    text-decoration: none;
  }

  li h2 {
    color: #404041;
    height: 80px;
    line-height: 80px;
    font-weight: normal;
    margin: 0 0 0 0;
    padding: 0 30px;
    font-size: 2em;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
  }

  .image h2 {
    color: #FFFFFF;
    background: rgba(0,0,0,0.4);
  }

  .footer {
    width: 100%;
    padding: 0 0;
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    left: 0;
    background: #D2D2D2;
    -webkit-box-shadow: 0 -2px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 -2px 2px rgba(0,0,0,0.2);
    box-shadow: 0 -2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px rgba(0,0,0,0.2);

    border-top: 1px solid #888888;

    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */

    /* Rules below not implemented in browsers yet */
    -o-user-select: none;
    user-select: none;
  }

  .footer .option {
    display: inline-block;
    height: 60px;
    width: 33.33%;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    border-left: 1px solid #333;
    border-top: 1px solid #333;
    color: #FFFFFF;
    font-weight: bold;
    cursor: pointer;
    background: #484A4F;
    background: -webkit-linear-gradient(top, #585A61, #45474B);
    background: -moz-linear-gradient(top, #585A61, #45474B);
    background: -o-linear-gradient(top, #585A61, #45474B);
    background: -ms-linear-gradient(top, #585A61, #45474B);
    background: linear-gradient(top, #585A61, #45474B);
  }

  #search {
    border-left: none;
  }

  .footer .option.selected {
    background: #D2D2D2;
    color: #404040;
    text-shadow: none;
    border-top: none;
  }

  .footer h4 {
    margin: 0;
    line-height: 60px;
  }

  .footer a {
    text-decoration: none;
    color: #FFFFFF;
    height: 100%;
    width: 100%;
    display: block;
  }

  .search, .sort {
    height: 0;
    overflow: hidden;
    background: #D2D2D2;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    -ms-transition: 0.2s;
    transition: 0.2s;
  }

  .search {
    text-align: center;
  }

  .search form {
    margin-top: 10px;
  }

  .search input {
    width: 60%;
    font-size: 1.5em;
  }

  .search button {
    font-size: 1.5em;
  }

  .sort {
    text-align: center;
  }

  .sort-option {
    color: #444;
    display: inline-block;
    width: 25%;
    margin: 10px 2%;
    background: #F0F0F0;
    padding: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 2px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 2px 2px rgba(0,0,0,0.2);
    box-shadow: 2px 2px rgba(0,0,0,0.2);
    font-weight: bold;
    -webkit-transition: 0.1s;
    box-sizing: border-box;

    cursor: pointer;
  }

  .sort-option.selected {
    /*-webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background: #8F8F8F;
    color: #FFFFFF;
    border: none;*/
    background: #1D73F3;
    color: #FFFFFF;

    cursor: auto;
  }

  /*.star {
     margin: 50px 0;
     position: relative;
     display: block;
     color: red;
     width: 0px;
     height: 0px;
     border-right:  100px solid transparent;
     border-bottom: 70px  solid red;
     border-left:   100px solid transparent;
     -moz-transform:    rotate(35deg);
     -webkit-transform: rotate(35deg);
     -ms-transform:     rotate(35deg);
     -o-transform:      rotate(35deg);
  }
  .star:before {
     border-bottom: 80px solid red;
     border-left: 30px solid transparent;
     border-right: 30px solid transparent;
     position: absolute;
     height: 0;
     width: 0;
     top: -45px;
     left: -65px;
     display: block;
     content: '';
     -webkit-transform: rotate(-35deg);
     -moz-transform:    rotate(-35deg);
     -ms-transform:     rotate(-35deg);
     -o-transform:      rotate(-35deg);

  }
  .star:after {
     position: absolute;
     display: block;
     color: red;
     top: 3px;
     left: -105px;
     width: 0px;
     height: 0px;
     border-right: 100px solid transparent;
     border-bottom: 70px solid red;
     border-left: 100px solid transparent;
     -webkit-transform: rotate(-70deg);
     -moz-transform:    rotate(-70deg);
     -ms-transform:     rotate(-70deg);
     -o-transform:      rotate(-70deg);
     content: '';
  }*/

  .star {
    position: absolute;
    background-color: yellow;
    width: 20px;
    height: 20px;
    border: 1px solid black;
  }

</style>

{{#partial "content"}}

{{> libraries}}

<script>
  var json = "{{{json}}}",
      currentUrl = "{{{uri}}}",
      sortFunc,
      sortType,
      wait = 500,
      $linklist,
      $popularlist,
      i, len,
      links,
      filterList,
      updateList,
      updateCount,
      search,
      sort,
      submitQuery,
      updateQuery,
      searchTimerId;

  sortFunc = {
    abc: function(a, b) {
      return a.text.toLowerCase() > b.text.toLowerCase() ? 1 : -1;
    },
    zyx: function(a, b) {
      return a.text.toLowerCase() > b.text.toLowerCase() ? -1 : 1;
    }
  };

  // Update the page visit count then load next page
  updateCount = function(event) {
    var target = $(this).attr('href').substring(1);
    event.preventDefault();

    $.ajax({
      dataType: 'json',
      type: 'POST',
      url: '/' + currentUrl,
      data: { target: target },
      success: function(result) {
        console.log(result);
        window.location = '/' + target;
      }
      // ,
      // error: function(jqXhr, status, error) {
      //   // console.log(status);
      //   // console.log(error);
      // }
    });
  };

  // Updates the list given a list of links
  updateList = function(list) {
    var link,
        $li, $a, $h2;

    // currentList = list.slice(0);

    // Begin by emptying the lists
    $linklist.empty();
    $popularlist.empty();

    for (i = 0, len = list.length; i < len; i++) {
      link = list[i];

      // Create the elements
      $h2 = $('<h2>').html(link.text);
      $star = $('<div>');
      $a = $('<a>')
        .attr('href', link.href)
        .append($star)
        .append($h2)
        .click(updateCount);
      $li = $('<li>').append($a);

      // Add li to list
      $linklist.append($li);

      // Clone to popular list if popular
      if (link.popular) {
        $star.addClass('star');
        $li.clone().appendTo($popularlist);
      }

      console.log(link.src);
      if (link.src) {
        $li
          .addClass('image')
          .css({
            'background-image': "url('" + link.src + "')"
          });
      }
    }
  };

  search = function(query, list) {
    var result = fuzzy.filter(query, list, {
      extract: function(el) {
        return el.text;
      }
    });

    result = result.map(function(el) { return el.original; });

    filterList = result;

    return result;
  };

  sort = function(list, sort) {
    sort = sort || sortType;
    sortType = sort;

    if (sortFunc[sort]) {
      list = list.slice(0);
      list.sort(sortFunc[sort]);
    }

    return list;
  };

  // immediately filter links
  submitQuery = function(event) {
    event.preventDefault();

    var $input = $(this).find('input')
    var query = $input.val();

    updateList(sort(search(query, links)));

    // force lose focus
    $input.blur();
  };

  // filter links on delay
  updateQuery = function(event) {
    var query = $(this).val();

    clearTimeout(searchTimerId);
    searchTimerId = setTimeout(function(query) {
      updateList(sort(search(query, links)));
    }, wait, query);
  };

  var toggleOptions = function(eName) {
    $('.search, .sort').height(0);
    var $element = $('#' + eName);

    if($element.hasClass('selected')) {
      $('.' + eName).height(0);
    } else {
      $('#search, #sort').removeClass('selected');
      $('.' + eName).height(60);
    }
    $element.toggleClass('selected');
  };

  $(function() {
    $linklist = $('#links');
    $popularlist = $('#popular');
    links = JSON.parse(json);
    filterList = links;

    $('#search-form').submit(submitQuery);
    $('#query').keyup(updateQuery);


    $('#search').click(function() {
      toggleOptions('search');
    });
    $('#sort').click(function() {
      toggleOptions('sort');
    });

    $('.sort-option').click(function() {
      var $this = $(this);

      if(!$this.hasClass('selected')) {
        $('.sort-option').removeClass('selected');
        $this.addClass('selected');

        var sortType = $this.text().toLowerCase();

        updateList(sort(filterList, sortType));
      }
    });

    updateList(links);
    console.log(currentUrl);
  });

</script>

<div class="wrapper">
  <ul id="popular"></ul>
  <hr>
  <ul id="links"></ul>
</div>

<div class="footer">
  <div class="search">
    <form id="search-form">
      <input type="text" id="query" name="query" placeholder="Search links">
      <button type="submit">Search</button>
    </form>
  </div>
  <div class="sort">
    <div class="sort-option">ABC</div>
    <div class="sort-option">ZYX</div>
    <div class="sort-option selected">None</div>
  </div>

  <div class="option" id="search">
    <h4>Search</h4>
  </div><div class="option" id="sort">
    <h4>Sort</h4>
  </div><div class="option">
    <a href="{{uri}}" target="_blank"><h4>View Page</h4></a>
  </div>
</div>

{{/partial}}

{{> base}}
